.button {
	text-decoration: none;
	border: thin solid #024720;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #025928;
	padding: 8px;
}

.button:HOVER {
	border: thin solid #025928;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #679B7E;
}