#header a{
	text-decoration: none;
	margin: 0px 10px 0px 10px;
	font-size: x-large;
	color: white;
}

#header a:HOVER{
	color: #0099cc;
}


#header{
	background-color: #025928;
	padding: 5px;
}