#header a{
	text-decoration: none;
	margin: 0px 50px 0px 10px;
	font-size: smaller;
	color: #D9DADA;
	font-weight: bold;
}

#header a:HOVER{
	color: #FF6600;
}

#header{
	background-color: #303030;
	padding: 16px;
}