#signupSide{
	margin: 0px 200px 0px 0px;
	float: right;
}

#signup{
	margin: 10px 700px 10px 10px;
}

.fieldSize{
	width: 200px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	padding: 5px;
}

.fieldName{
	margin: 10px 0px 0px 0px;
	font-weight: bold;
}