#signInSide{
	margin: 10px;
	border: 1px solid black;
	min-height: 500px;
	min-width: 850px;
	float: left;
}

#signIn{
	margin: 100px 30px 10px 880px;
	border: 1px solid black;
	padding: 20px;
	font-size: small;
}