#signup{
	padding: 0px;
}

#emailError, .errorField{
	color: red;
	font-size: small;
}

fieldset{
	border-color: #1975FF;
	width: 250px;
	padding: 20px;
	margin-top: 20px;
	margin-left: 475px;
}

#firstName, #lastName{
	width: 122.5px;
}